<div>
    <form class="ph-field">
        <input type="text" oninput="disableDel()" id="FIO" placeholder="First and Last Names">
        <input type="text" oninput="disableDel()" id="Pnumber" placeholder="Phone">
    </form>
</div>
