header {
    background: rgba(29,111,221,0.8);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgba(29,111,221,0.8);
    color: aliceblue;
    height: 4%;
    font-size: larger;
}

h1 {
    color: aliceblue;
    text-align: center;
}

label {
    font-size: 40px;
    font-family: "Comic Sans MS", serif;
    color: rgba(23,16,182,0.8);
}

.text {
    color: rgba(28,111,222,0.8);
    text-decoration: underline;
    font-family: "Comic Sans MS", serif;
    font-size: larger;
}

.line_block {
    float: left;
    margin: 2%;
}